<!doctype html>
{% load bootstrap4 %}
<title>Django - Hoja de vida</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" /> 
{% bootstrap_css %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Django</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar-header">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Inicio <span class="sr-only">(actual)</span></a>
			</li>
		</ul>
	</div>
</nav>

<main role="main" class="container mt-4 mb-4">
	{% block content %}{% endblock %}
</main>

{% bootstrap_javascript jquery='full' %}